:root {
    --fonte-texto: "Raleway", sans-serif;
    --fonte-botao: "Shanti", sans-serif;
}

body {
    background-color: #e9e7db;
}

.cabecalho {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin-bottom: 100px;
}

.cabecalho_menu {
    display: flex;
    gap: 20px;
}

.cabecalho_menu_link {
    text-decoration: none;
    font-family: var(--fonte-botao);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    border: 5px solid #587a70;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.cabecalho_menu_link:hover {
    color: #587a70;
    background-color: white;
}

.about {
    display: flex;
    flex-direction: row;
}

.titulo_about {
    font-size: 50px;
    text-align: justify;
    margin: 50px;
    color: #587a70;
    margin: 25px;
    text-transform: uppercase;
}

.paragrafo_about {
    font-family: var(--fonte-texto);
    font-weight: 300;
    font-style: italic;
    font-size: 35px;
    color: black;
    text-align: justify;
    margin: 35px;

}

.imagem_about {
    width: 700px;
    border-radius: 10px;
    border: 2px solid #587a70;
}

.rodape_index {
    font-family: var(--fonte-texto);
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #587a70;
    margin-top: 245px;
}